<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
   </head>

   <body>
    <div class="main">
      <nav>
       	<h1 class="site-title"> <%= @name %>'s awesomemicro-blog</h1>
        <span>Hosted on Netlify!</span>
      </nav>
     	<div class="<%= @layout %>">
     		<% @posts.each do |post| %>
          <div>
            <%= post.content %>
            <p><%= post.updated_at.to_formatted_s(:long) %></p>
          </div>
        <% end %>
     	</div>
    </div>
   </body>
</html>